<div class="jumbotron">
	<div class="container">
		<h1>Share your videos freely!</h1>
		<p>Click the button here to share your video from youtube.</p>
		<p>
			<%= link_to 'Add Video Now!', new_video_path, class: 'btn btn-primary btn-lg' %>
		</p>
	</div>
</div>
