<div id="player-wrapper">
	
</div>

<iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/<%=@video.uid%>?autoplay=0">
</iframe>

<%= @video.duration %>
<%= @video.created_at%>























